[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
nbconvert = "*"
pyjanitor = "*"
xgboost = "*"
flask = "*"
streamlit = "*"
pandas-profiling = "*"
boto3 = "*"
awscli = "*"
sagemaker = "*"

[dev-packages]

[requires]
python_version = "3.9"
